@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    padding-top: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1{
    font-size: 44px;
    max-width: 70%;
    text-align: center;
    padding-bottom: 10%;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 141px;
}

.form input{
    width: 100%;
    height: 63px;
    text-align: center;
    border-radius: 15px;
    font-size: 25px;
}

.form .btn{
    width: 100%;
    height: 63px;
    text-align: center;
    border-radius: 15px;
    background-color: #FF7E7E;
    font-size: 25px;
    border: 0px;
}

.btn svg{
    display: none;
}
.btn p{
    display: inline;
}

.gifContainer{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

.gif{
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    position: relative;
    
}

.gif::before{
    content: "";
    background: linear-gradient(180deg, #000000 0%, rgba(196, 196, 196, 0) 48.44%, #000000 100%);
    z-index: 10;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.gif img{
    width: 100%;
    border-radius: 15px;
}

.iconContainer{
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 10px;
    display: flex;
}

.iconContainer img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.copyContainer{
    position: relative;
}

.modal{
    background-color: white;
    padding: 10px;
    border-radius: 7px;
    position: absolute;
    bottom: 40px;
    left: 10px;
}

.hidden{
    display: none;
}

.textContainer{
    z-index: 100;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
}

.textContainer *{
    margin-bottom: 5px;
}

.textContainer h2{
    font-size: 20px;
}

.textContainer h3{
    font-size: 16px;
}

.textContainer h4{
    font-size: 12px;
}

.fadeIn{
    animation: fadeIn 0.5s;
}

.fadeOut {
    animation: fadeOut 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media (min-width: 1024px){
    .gifContainer{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 40%);
        grid-gap: 50px;
        align-items: flex-start;
    }
    .form{
        display: flex;
        flex-direction: row;
    }
    .form input{
        flex-basis: 90%;
    }
    .form .btn{
        flex-basis: 10%;
    }
    .container{
        padding: 10px;
    }
    .btn p{
        display: none;
    }
    .btn svg{
        display: inline;
    }
    .container h1{
        padding: 0;
    }
}
    